<div class="container">
	<h1> To Do List </h1>
	<div class="row mb-2">
		<div class="col-xl-9 col-lg-9 col-md-9">
		<div *ngIf="statusMsg" class="alert alert-danger"> {{statusMsg}} </div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-3 float-right">		
		<button type="button" class="btn btn-primary" (click)="createList()"> Create New List</button>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr> 
			<th> Sr. No </th>
			<th> Title </th>
			<th> Remarks </th>
			<th> Status </th>
			<th> Items </th>
			<th> Edit </th>
			<th> Delete </th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let list of listData">
				<td> {{list.srno}} </td>
				<td class="hLink" (click)="showdetails(list._id)">  {{list.title}} </td>
				<td> {{list.remarks}} </td>
				<td> {{list.status}} </td>
				<td> {{list.items.length}} </td>
				<td class="hLink" (click)="editList(list._id)"> Edit </td> 
				<td class="hLink" (click)="deleteList(list._id)"> Delete </td> 
			</tr>
		</tbody>
	</table>
</div>